export(bracketing,
       DEopt,
       EuropeanCall, 
       EuropeanCallBE,
       GAopt, 
       gbb,
       gbm,
       LSopt, 
       MA, 
       NS, 
       NSS, 
       NSSf,
       NSf, 
       PSopt, 
       TAopt,
       callCF,
       callHestoncf,
       cfBSM, 
       cfBates, 
       cfHeston, 
       cfMerton, 
       cfVG,
       changeInterval,
       gridSearch,
       putCallParity,
       qTable, 
       repairMatrix, 
       resampleC, 
       restartOpt, 
       showChapterNames, 
       showExample,
       tfAckley, 
       tfGriewank, 
       tfRastrigin, 
       tfRosenbrock, 
       tfSchwefel, 
       tfTrefethen,
       vanillaBond,
       vanillaOptionAmerican, 
       vanillaOptionEuropean, 
       vanillaOptionImpliedVol,
       xwGauss,
       ytm)
