importFrom("parallel",
           clusterApply, makeCluster, mclapply, stopCluster)
importFrom("grDevices", "dev.new", "grey")
importFrom("graphics", "plot", "lines")
importFrom("stats", "dnorm", "integrate", "median", "pnorm",
           "quantile", "rnorm", "runif", "sd", "uniroot")
importFrom("utils", "flush.console", "setTxtProgressBar",
           "txtProgressBar")
export(bracketing,
       colSubset,
       DEopt,
       duration,
       EuropeanCall,
       EuropeanCallBE,
       GAopt,
       gbb,
       gbm,
       LSopt,
       LS.info,
       MA,
       NS,
       NSS,
       NSSf,
       NSf,
       PSopt,
       TAopt,
       TA.info,
       callCF,
       callHestoncf,
       callMerton,
       cfBSM,
       cfBates,
       cfHeston,
       cfMerton,
       cfVG,
       changeInterval,
       drawdown,
       gridSearch,
       pm,
       putCallParity,
       qTable,
       repairMatrix,
       resampleC,
       restartOpt,
       showChapterNames,
       showExample,
       tfAckley,
       tfEggholder,
       tfGriewank,
       tfRastrigin,
       tfRosenbrock,
       tfSchwefel,
       tfTrefethen,
       vanillaBond,
       vanillaOptionAmerican,
       vanillaOptionEuropean,
       vanillaOptionImpliedVol,
       xtContractValue,
       xtTickValue,
       xwGauss,
       ytm)

S3method(plot, TAopt)
S3method(print, TAopt)
