export(bracketing,
callHestoncf, changeInterval,
DEopt, EuropeanCall, EuropeanCallBE,
GAopt, gridSearch,
LSopt, MA, NS, NSf, NSS, NSSf,
PSopt, qTable, repairMatrix, restartOpt, TAopt,
tfAckley, tfGriewank, tfRastrigin, tfRosenbrock, tfSchwefel, tfTrefethen,
xwGauss)
