export(bracketing,
callHestoncf, changeInterval,
callCF, cfBates, cfBSM, cfHeston, cfMerton, cfVG,
DEopt, EuropeanCall, EuropeanCallBE,
GAopt, gridSearch,
LSopt, MA, NS, NSf, NSS, NSSf,
PSopt, qTable, 
repairMatrix, resampleC, restartOpt, 
showChapterNames, showExample,
TAopt,
tfAckley, tfGriewank, tfRastrigin, tfRosenbrock, tfSchwefel, tfTrefethen,
xwGauss)
