export(bracketing,
callHestoncf, changeInterval,
callCF, cfBates, cfBSM, cfHeston, cfMerton, cfVG,
DEopt, EuropeanCall, EuropeanCallBE,
GAopt, GAopt2, gridSearch,
LSopt, MA, NS, NSf, NSS, NSSf,
PSopt, qTable, repairMatrix, restartOpt, TAopt,
tfAckley, tfGriewank, tfRastrigin, tfRosenbrock, tfSchwefel, tfTrefethen,
xwGauss)
