/NMOFratio.R
/NMOFratio.aux
/NMOFratio.bbl
/NMOFratio.blg
/NMOFratio.dvi
/NMOFratio.fdb_latexmk
/NMOFratio.idx
/NMOFratio.ilg
/NMOFratio.log
/NMOFratio.out
/NMOFratio.pdf
/NMOFratio.ps
/NMOFratio.tex
/NMOFratio.toc
/_makeFile.bat
/figures
